.header{
  display: flex;
}

.header-highlight {
  color: rgba(17, 100, 102,1);
  text-shadow: 0 0 2px black;
  background: rgba(44,53,49,1);
  z-index: 20;
  padding-right: 1rem;
}

/* Button */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 100rem;
  
}

.hamburger {
  width: 20px;
  height: 5px;
  background: rgb(209,232,226);
  transition: 0.25s ease-in-out;
  justify-content: center;
  display: flex;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  outline: 1px solid rgba(209,232,226, .2);
  background: rgb(44,53,49);
  transition: 0.5s ease-in-out;
}

.hamburger::before {
  transform: translateY(-12px);
}

.hamburger::after {
  transform: translatey(12px);
}

.menu-btn:hover {
  background: radial-gradient(circle, rgba(209,232,226,.3) 0%, rgba(17,100,102,.2) 50%);
}

.open .hamburger::before {
  transform: rotate(45deg) translateY(-15px);
  background:rgb(209,232,226);
}

.open .hamburger::after {
  transform: rotate(-45deg) translatey(15px);
  background:rgb(209,232,226);
}

/* Menu */

.menu{
  color: rgb(209, 232, 226);
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-100%) translateY(-95%);
  pointer-events: none;
  position: absolute;
}

.menu-open{
  opacity: 1;
  transition: 0.5s;
  transform: translateX(25%) translateY(-95%);
  pointer-events: all;
}

.menu-ul {
  padding: 0 0 .75rem 0;
}

.menu-li{
  list-style-type: none;
  display: inline;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.menu-li span:hover {
  color:rgb(17,100,102)
}