.header{
  display: flex;
}


/* Button */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 50%;
  
}

.hamburger {
  width: 1.4rem;
  height: 0.2rem;
  background: rgb(209,232,226);
  transition: 0.25s ease-in-out;
  justify-content: center;
  display: flex;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 1.9rem;
  height: 0.2rem;
  outline: 0.1rem solid rgba(209,232,226, .2);
  background: rgb(44,53,49);
  transition: 0.5s ease-in-out;
}

.hamburger::before {
  transform: translateY(-0.75rem);
}

.hamburger::after {
  transform: translatey(0.75rem);
}

.menu-btn:hover {
  background: radial-gradient(circle, rgba(209,232,226,.3) 0%, rgba(17,100,102,.2) 50%);
}

.open .hamburger::before {
  transform: rotate(45deg) translateY(-0.87rem);
  background:rgb(209,232,226);
}

.open .hamburger::after {
  transform: rotate(-45deg) translatey(0.87rem);
  background:rgb(209,232,226);
}

/* Menu */

.menu{
  color: rgb(209, 232, 226);
  opacity: 0;
  transition: 0.4s;
  transform: translate(-100%, -95%);

  pointer-events: none;
  position: absolute;
}

.menu-open{
  opacity: 1;
  transition: 0.5s;
  transform: translate(25%, -95%);
  pointer-events: all;
  animation: disappear 2s linear;
}

.menu-ul {
  padding: 0 0 .75rem 0;
}

.menu-li{
  list-style-type: none;
  display: inline;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.menu-li span:hover {
  color:rgb(17,100,102)
}