.project-item{
  display: flex;
  position: relative;
  cursor: pointer;
  transform: translateX(50%);
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.project-item-img{
  height: 12rem;
  width: 12rem;
  position: absolute;
  opacity: 0.6;
  border-radius: 0.5rem;
}

.project-item-txt {
  position: relative;
  color:rgba(209,232,226);
  text-shadow: 0 0 0.1rem rgb(44,53,49);
  height: 12rem;
  width: 12rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
} 

.project-item-txt>h2 {
  padding: 0 0.5rem;
}

.project-item-txt>h4 {
  text-decoration: underline;
  padding: 0 0.5rem;
}

.project-item-img:hover {
  opacity: 1;
}

.project-item-txt:hover {
  color:rgba(17,100,102);
  text-shadow: 0 0 0.2rem rgb(209,232,226);
  opacity: 1;
}