.project-item{
  position: relative;
  cursor: pointer;
}
.project-item-img{
  height: 200px;
  width: 200px;
  position: absolute;
  opacity: 0.5;
}

.project-item-txt {
  position: relative;
  color:rgba(209,232,226);
  text-shadow: 0 0 3px rgb(44,53,49);
  height: 200px;
  width: 200px;
}

.project-item-img:hover {
  opacity: 1;
}

.project-item-txt:hover {
  color:rgba(17,100,102);
  text-shadow: 0 0 4px rgb(209,232,226);
}