.project-focus {
  display:flex;
  padding:1rem;
  overflow: hidden;
  height: 20rem;
}

.project-focus-img {
  width: 20rem;
  height: 90%;
  border-radius: 0.5rem;
  transform:translateY(2.5%)
}

.project-focus-txt {
  padding: 1rem 2rem;
}

.project-focus-txt h2 {
  padding:0 1rem;
}

.project-focus-txt p {
  padding: 1rem;  
}

.project-focus-txt ul {
  column-count: 3;
  column-gap: 0.5rem;
  padding: 0 1rem;
  list-style-type: circle;
}

.project-focus-hyper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.project-focus-hyper a {
  text-decoration: none;
  font-size: larger;
  color: rgb(209, 232, 226);
  text-shadow: 0 0 0.2rem rgb(44,53,49,1);
}

.project-focus-hyper a:hover {
  text-shadow: 0 0 0.2rem rgb(209, 232, 226);
  transform: scale(1.1);
}