/* Button */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 100rem;
}

.hamburger {
  width: 20px;
  height: 5px;
  background: white;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  background: black;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.hamburger::before {
  transform: translateY(-12px);
}

.hamburger::after {
  transform: translatey(12px);
}

.menu-btn:hover {
  background: radial-gradient(circle, rgba(209,232,226,.3) 0%, rgba(17,100,102,.2) 50%);
}



/* .open .hamburger {
  transform: rotate(-45deg)
} */

.open .hamburger::before {
  transform: rotate(45deg) translateY(-15px);
  background:white;
}

.open .hamburger::after {
  transform: rotate(-45deg) translatey(15px);
  background:white;
}

/* Menu */

.menu{
  color: black;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-10%) translateY(-95%);
  pointer-events: none;
  position: absolute;
}

.menu-open{
  opacity: 1;
  transition: 0.3s;
  transform: translateX(25%) translateY(-95%);
  pointer-events: all;
}