/* Button */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
  border: 1px solid black;
}

.hamburger {
  width: 35px;
  height: 5px;
  background: black;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  background: black;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.hamburger::before {
  transform: translateY(-15px);
}

.hamburger::after {
  transform: translatey(15px);
}

/* .open .hamburger {
  transform: rotate(-45deg)
} */

.open .hamburger::before {
  transform: rotate(-45deg) translateY(-15px);
}

.open .hamburger::after {
  transform: rotate(45deg) translatey(15px);
}

/* Menu */

.menu{
  color: black;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-40%) translateY(-95%);
  pointer-events: none;
  position: absolute;
}

.menu-open{
  opacity: 1;
  transition: 0.3s;
  transform: translateX(-100%) translateY(-95%);
  pointer-events: all;
}