footer { 
  display: flex; 
  justify-content:center; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width:100%; 
  padding:0.5rem;
  background-image: linear-gradient(to bottom, rgba(17, 100, 102,0),rgba(17, 100, 102,1));
  font-size: 1vw;
}