@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.background-clock{
  z-index: 10;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}


.clock {
  border-radius: 50%;
  opacity: 0.2;
  background-size: 88%;
  height: 75rem;
  position: relative;
  width: 75rem;
  overflow: hidden;
}


.hours-container, .minutes-container, .seconds-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 1.25%;
  border: .01rem ridge rgba(209, 232, 226,0.75);
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 1%;
  border: .01rem ridge rgba(209, 232, 226,0.75);

}

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 0.5%;
  z-index: 8;
  border: .01rem ridge rgba(17, 100, 102,0.75);

}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}