.resume-dl{
  display: flex;
  justify-content: center;
}

.resume h5{
  background-image: linear-gradient(rgba(16, 9, 25,.7), rgba(28, 17, 51,.7));
  border-radius: 2rem;
}

.resume-flex{
  display: flex;
  justify-content: space-evenly;
}

.resume-background{
  background-image: linear-gradient(rgba(16, 9, 25,.7), rgba(28, 17, 51,.7));
  border-radius:1rem;
  padding: 0.2rem 5rem;
}

.resume-background h3{
  text-decoration: underline;
  margin: 0;
}

.resume-dl a {
  text-decoration: none;
}

.resume-dl a:hover {
  color: white;
}
