*{
  margin: 0;
}

html {
  background: rgba(44,53,49,1);
  height: 100%;
  background-position: center;
  color: rgb(209, 232, 226);
  text-shadow: 0 0 2px black;
}

body {
  margin: 1rem;
}

.highlight {
  color: rgba(17, 100, 102,1);
  text-shadow: 0 0 2px black, 0 0 0.2rem rgba(17, 100, 102, 0.4), 0 0 .5rem rgba(209, 232, 226, 0.2);
}

